#header {
    background-image:url("images/homepage_beach.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 426px;
    color:black;
    padding:10px;
}
#sidebar {
    width: 20%;
    float: right;
    background: white;
    margin-right: 20px;
}
#section {
    width:70%;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;         
}